@import 'color'
.player
    padding: 5px

.score
    color: $text-secondary
    padding: 0 10px 0 0
    margin: 0

.container
    display: flex
    justify-content: flex-start
    flex-direction: column
    min-height: 100vh
    max-width: 200px
    overflow: hidden

.score-collection
    display: flex